.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 58px);
	.title {
		margin-bottom: 40px;
		font-size: var(--fsz32);
	}
	.inputs {
		display: flex;
		flex-direction: column;
		padding-bottom: 110px;
	}
}